#fname{
    background-color:red
}
#phno{
    background-color:blue
}
#address{
    background-color:chartreuse
}
.ClassForm{
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

